@import url('https://fonts.googleapis.com/css?family=Lexend+Mega&display=swap');

body {
    font-family: 'Lexend Mega', sans-serif;
}

.Nav--Links {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}