.footer {
  padding: 8rem 22rem;
  background-image: "../images/footer-bg.png";
  background: var(--footerBG);
  font-size: 1.2rem;
  color: var(__darkGrey);
}

.footer p {
  font-size: 2rem;
}

.footer a {
  color: var(__primary);
  text-decoration: none;
}


@media (max-width: 600px) {
  .footer {
    width: 100%;
    padding: 5rem 0;
  }
}