.footer {
  padding: 12rem 30rem;
  background-image: "../images/footer-bg.png";
  background: var(--footerBG);
  font-size: 1.2rem;
  color: var(--footerText);
}

.footer p {
  font-size: 2rem;
  color: var(--footerText);
}

.footer a {
  color: #ea8cd6;
  text-decoration: none;
}

@media (max-width: 992px) {
  .footer {
    width: 100%;
    padding: 5rem 10rem;
  }
}

@media (max-width: 600px) {
  .footer {
    width: 100%;
    padding: 5rem 0;
  }
}