@font-face {font-family: 'Fabrikat-Regular';src: url('../assets/fonts/315D63_0_0.eot');src: url('../assets/fonts/315D63_0_0.eot?#iefix') format('embedded-opentype'),url('../assets/fonts/315D63_0_0.woff2') format('woff2'),url('../assets/fonts/315D63_0_0.woff') format('woff'),url('../assets/fonts/315D63_0_0.ttf') format('truetype');}

@font-face {font-family: 'Gopher-Medium';src: url('../assets/fonts/39F4B2_0_0.eot');src: url('../assets/fonts/39F4B2_0_0.eot?#iefix') format('embedded-opentype'),url('../assets/fonts/39F4B2_0_0.woff2') format('woff2'),url('../assets/fonts/39F4B2_0_0.woff') format('woff'),url('../assets/fonts/39F4B2_0_0.ttf') format('truetype');}

@font-face {font-family: 'NeumaticCompressed-Bold';src: url('../assets/fonts/39F4B2_1_0.eot');src: url('../assets/fonts/39F4B2_1_0.eot?#iefix') format('embedded-opentype'),url('../assets/fonts/39F4B2_1_0.woff2') format('woff2'),url('../assets/fonts/39F4B2_1_0.woff') format('woff'),url('../assets/fonts/39F4B2_1_0.ttf') format('truetype');}


@font-face {font-family: 'Recoleta-RegularDEMO';src: url('../assets/fonts/39F5DC_0_0.eot');src: url('../assets/fonts/39F5DC_0_0.eot?#iefix') format('embedded-opentype'),url('../assets/fonts/39F5DC_0_0.woff2') format('woff2'),url('../assets/fonts/39F5DC_0_0.woff') format('woff'),url('../assets/fonts/39F5DC_0_0.ttf') format('truetype');}



:root {
  --primary: #2b00ff;
  --secondary: #000;
  --white: #fff;
  --pageBG: #F1F0EA;
  --pageBG-darker: #fff1d4;
  --footerBG: #131009;
  --footerText: #6965a9;
  --midGrey: #b7b7ca;
  --darkGrey: #222;
  --popColour: #4676ff;
  --danger: #ff3d3d;
  --font-primary: 'Fabrikat-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  --font-header: 'Lexend Mega', sans-serif;
  --font-header-2: 'Gopher-Medium', sans-serif;
  --font-page-header: 'NeumaticCompressed-Bold', sans-serif;
  --font-quote: 'Recoleta-RegularDEMO', serif;
  --borderRadius: 4px;
  --letter-spacing: .15em;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px var(--grey);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

::selection {
  background: rgba(0, 194, 189, 0.6);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
  background: var(--pageBG);
}

body {
  font-family: var(--font-primary);
  min-height: 100%;
  position: relative;
  color: var(--secondary);
  font-size: 1.9em;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--primary);
  text-decoration: none;
  font-weight: normal;
}

strong {
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1 {
  margin: 0 0 0.5em 0;
  font-family: var(--font-header-2);
  font-size: 3em;
  line-height: 1.4em;
  padding: 0;
}

h2 {
  margin: 0 0 0.5em 0;
  font-family: var(--font-quote);
  font-size: 3em;
  font-weight: normal;
  line-height: 1.2em;
  margin: 3rem 0 5rem 0;
  padding-bottom: 2rem;
}


h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--font-header-2);
  line-height: 1em;
  padding: 1em 0 .3em 0;
}

pre {
  background: var(--pageBG);
  line-height: 1.45;
  font-size: 85%;
  border-radius: 3px;
  padding: 16px;
}

code {
  font-size: 85%;
  padding: 0.15em 0;
  background: var(--pageBG);
  border-radius: 3px;
}
code:before,
code:after {
  letter-spacing: -0.2em;
  content: '\00a0';
}
pre code {
  font-size: inherit;
}
pre code:before,
pre code:after {
  display: none;
}
blockquote {
  font-family: var(--font-quote);
  margin-left: 0;
  padding-left: 1em;
  line-height: 1;
  font-size: 2.5em;
  border-left: 7px solid var(--primary);
}

/* Utility Classes */
.light {
  background-color: var(--pageBG);
}
.white {
  background-color: white;
}
.dark {
  background-color: var(--primary);
  color: white;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: white;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.taCenter {
  text-align: center;
}
.taLeft {
  text-align: left;
}
.taRight {
  text-align: right;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

/* Layout */

.section {
  width: 100%;
  padding: 6rem 0 5rem 0;
  background: var(--pageBG)
}
.section:last-child {
  border: 0;
}
.section.thick {
  padding: 10rem 0;
}
.section.thin {
  padding: 3.5rem 0;
}
.section.noPadding {
  padding: 0;
}

@media (max-width: 600px) {
  .section {
    width: 100%;
    padding: 5rem 0;
  }
  .section.thick {
    padding: 7rem 0;
  }
  .section.thin {
    padding: 1.5rem 0;
  }
}

.container {
  max-width: 1111px;
  width: 90%;
  margin: 0 auto;
}
.container.skinny {
  max-width: 888px;
}
.container.skinnier {
  max-width: 555px;
}

/* Buttons */

.Button {
  background: var(--primary);
  color: white;
  opacity: 0.8;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 0.1em;
  font-size: 1.4rem;
  display: inline-block;
  padding: 1.25rem 3rem;
  border: none;
  transition: all 0.2s ease;
  cursor: pointer;
  border-radius: var(--borderRadius);
}
.Button:hover,
.Button:focus {
  opacity: 1;
  outline: none;
}
.Button[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}
.Button-blank {
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
