.PageHeader {
  background-color: var(--darkGrey);
  color: white;
  padding: 8rem 0;
}

.PageHeader .BackgroundImage {
  opacity: 1;
}

.PageHeader-large {
  padding: 10rem 0;
}

.PageHeader--Title {
  font-size: 30rem;
  line-height: .8em;
  text-align: center;
  margin-bottom: 0;
  font-family: var(--font-page-header);
  text-transform: uppercase;
  font-weight: normal;
  padding: 0;
}

.PageHeader--Subtitle {
  font-weight: 400;
  font-size: 2.3rem;
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}

@media (max-width: 600px) {
  .PageHeader {
    padding: 7rem 0;
  }
  .PageHeader--Title {
    font-size: 12rem;
  }

  .PageHeader-large {
    padding: 12.5rem 0;
  }

  .PageHeader--Subtitle {
    padding: 0;
  }
}
