.PostSection {
}

.PostSection--Grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}

.PostSection button {
  margin-top: 1rem;
  margin-top: 5rem;
  color: var(--primary);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: var(--borderRadius);
  background: var(--pageBG);
  border: 2px solid var(--primary);
  padding: 1rem 2rem .8rem 2rem;
  cursor: pointer;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0);
}

.PostSection button:hover {
  background: var(--primary);
  border: 2px solid var(--primary);
  color: white;
  transform: translateY(-3px);
}

.PostSection--Grid > * {
  width: calc(33.33% - 2rem);
  margin-bottom: 4rem;
}

@supports (display: grid) {
  .PostSection--Grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }

  .PostSection--Grid > * {
    width: auto;
    margin: 0;
  }
}

.PostSection--Title {
  width: 100%;
  max-width: 200px;
  margin: 0 auto 4rem auto;
  line-height: 1.2;
}

@media screen and (max-width: 960px) {
  .PostSection--Grid > * {
    width: auto;
    margin-bottom: 2rem;
  }

  @supports (display: grid) {
    .PostSection--Grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }
  }
}

  @media screen and (max-width: 760px) {
    .PostSection--Grid > * {
      width: 100%;
      max-width: 50rem;
      margin: 0 auto 4rem;
      display: block;
    }
  
    @supports (display: grid) {
      .PostSection--Grid {
        display: block;
        grid-template-columns: 1;
        grid-gap: 0;
      }
    }
}
