.PostCard {
  text-decoration: none;
  background: rgba(255,255,255,.5);
  color: inherit;
  border-radius: 12px;
  transition: all 0.15s ease-in-out;
  overflow: hidden;
}

.PostCard:hover,
.PostCard:focus {
  background: white;
  transform: translateY(-2px);
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
}

.PostCard--Image {
  margin: 0 0 2rem 0;
  width: 100%;
  height: 32rem;
}

.PostCard--Title {
  font-size: 2.7rem;
  padding: 5px 0;
  margin: 0;
}

.PostCard--Content {
  padding: 0 2.5rem 2.5rem;
}

.PostCard--Category {
  font-size: 1.2rem;
  color: var(--darkGrey);
  opacity: .5;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .1em;
  min-height: 1.2em;
  line-height: 1;
  margin: 0.5em 0;
}
